/* Hide the section number after the ToC */
.section.toc .page {
  display: none;
}

#driver,
#disclaimer {
  page-break-before: always;
  margin-top: 5em;
}

body {
  font-size: 17px;
}

p,
blockquote,
ul,
ol,
dl,
table,
pre {
  text-align: justify;
}

.online-only,
.player,
#player {
  display: none;
}

